<div class="ideia">
    <div class="label_ideia">
        <h1>Nome do projeto</h1>
    </div>

    <div>
        <button type="button" class="button_delete"><img src="/assets/stylesheets/img/trash.png" alt="lixo"></button>
        <button type="button" class="button_update"><img src = "assets/stylesheets/img/update.png" alt="avatar"></button>
    </div>

    <div class="descricao">
        <p class="descricao">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a neque egestas purus sollicitudin dignissim. Vivamus et nisl dui. Sed gravida, arcu vel aliquam hendrerit, turpis quam tempor leo, sit amet porttitor odio dolor eu orci. Sed dapibus congue pharetra. Ut pellentesque justo eros, quis malesuada neque ullamcorper a. Integer ut placerat mi, et aliquam sapien. Nullam dapibus quis nibh ac consectetur. Phasellus aliquam neque in ligula posuere, a feugiat purus mattis. Curabitur pharetra commodo nisi at tempor. Sed dapibus.
        </p>
    </div>

    <div class="area_interesse">
        <h2>Áreas de interesse:</h2>
        <button type="button" class="button_1">Ciência</button>
        <button type="button" class="button_2">Tecnologia</button>
        <button type="button" class="button_3">Informação</button>
    </div>
</div>

<div class="alunos_interesse">
    <div class="label_interesse">
        <h1>Estudantes interessados</h1>
    </div>

    <div class="aluno_interesse1">
        <button type="button" class="foto"><img src = "assets/stylesheets/img/avatar1.png" alt="avatar"></button>
        <button type="button" class="nome">Alana Portela Veloso</button>
        <button type="button" class="email">alana@id.uff.br</button>
    </div>  
    
    <div class="aluno_interesse2">
        <button type="button" class="foto"><img src = "assets/stylesheets/img/avatar2.png" alt="avatar"></button>
        <button type="button" class="nome">Calebe Palos Damasceno</button>
        <button type="button" class="email">calebe@id.uff.br</button>
    </div>

    <div class="aluno_interesse3">
        <button type="button" class="foto"><img src = "assets/stylesheets/img/avatar3.png" alt="avatar"></button>
        <button type="button" class="nome">Vitória Flávio Costa</button>
        <button type="button" class="email">vitoria@id.uff.br</button>
    </div>
    
</div>
