<div class="login">
    <div class="login">  
      <div class="login_label">
        <h1>Plugue-se</h1>
      </div>
  
      <form class="form_login">
        <div class="form_group_login">
          <div class="user_login">
            <input type="text" class="username" placeholder="E-mail" name="username"/>
          </div>
        </div>
        <div class="form_group_login">
          <div class="password_login">
            <input type="password" class="password" placeholder="Senha"  name="password"/>
          </div>
        </div>
        <div class="form_group_login">
          <div class="button_login">
            <button type="button" class="button_login">Plugar</button>
          </div>
        </div>
      </form>
    </div>  
  </div>


