<body>
    <div class="formCadastro">
        <h1>Crie uma conta</h1>
        <h3>Tipo de acesso:</h3>
        <div class=linhaCheckbox>
            <input id="checkbox" type="radio"/>
            <label>Aluno</label>
            <input id="checkbox" type="radio"/>
            <label>Professor</label>
        </div>
        <input class="nome" type="text" placeholder="nome"/>
        <input class="paginaPessoal" type="text" placeholder="link para página pessoal"/>
        <input class="email" type="text" placeholder="email"/>
        <input class="senha" type="text" placeholder="senha"/>
        <button class="botao" type="submit">Registrar</button>
    </div>
</body>