<body>
	<app-header></app-header>
	<div id="search">
		<form>
			<div class="search-tools">
				<label for="title">Título</label><br>
				<input type="text" id="title" name="title"><br>
			</div>
			<div class="search-tools">
				<label for="creator">Criador</label><br>
				<input type="text" id="creator" name="creator">
			</div>
			<div class="search-tools">
				<label for="area">Areas de Interesse</label><br>
				<input type="text" id="area" name="area">
			</div>
		</form>
		<button id="btn-search" type="button">Buscar</button>
	</div>
	<div id="ideas">
		<div class="card">
			<header>
				<h1 class="card-title">Título da Ideia</h1>
			</header>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet ante eu lacus consectetur 
				consectetur. Nunc quis aliquet leo. Integer sollicitudin egestas velit, nec sagittis massa commodo quis. 
				Nulla vehicula ligula sed bibendum malesuada. Proin eleifend varius libero ut hendrerit. Integer auctor 
				magna nec sem facilisis ullamcorper. Morbi massa justo, molestie non commodo non, aliquam non justo.
			</p>
			<footer>
				<img src="../../../assets/images/Avatar.png">
				<h4>Jane Lane</h4>
				<button id="btn-interest" type="button" (click)="listIdeas()">Candidatar-se</button>
			</footer>
		</div>
	</div>
</body>


