<body>
	<app-header></app-header>
	<div id="search">
		<form [formGroup]="formularioBusca">
			<div class="search-tools">
				<label for="title">Título</label><br>
				<input type="text" id="title" name="title" formControlName="titulo"><br>
			</div>
			<div class="search-tools">
				<label for="creator">Criador</label><br>
				<input type="text" id="creator" name="creator" formControlName="criador">
			</div>
			<div class="search-tools">
				<label for="area">Areas de Interesse</label><br>
				<input type="text" id="area" name="area" formControlName="area">
			</div>
		</form>
		<button id="btn-search" type="button" (click)="busca()">Buscar</button>
	</div>
	<div id="ideas">
		<ul>
			<li *ngFor="let res of result">
				<div class="card">
					<header>
						<h1 class="card-title">{{ res.titulo }}</h1>
						<h6> {{ res.areaInteresse }} </h6>
					</header>
					<p>
						{{ res.descricao }}
					</p>
					<footer>
						<img src="../../../assets/images/Avatar.png">
						<h4>{{ res.aluno.nome }}</h4>
						<button id="btn-interest" type="button">Candidatar-se</button>
					</footer>
				</div>
			</li>
		</ul>
	</div>
</body>


