<div class="repo_ideias">
    <h1>Repositório de ideias</h1>

    <div class="minha_ideia">
        <h2>Minhas ideias</h2>
        
        <div class="minha_ideia_1">
            <h3>Título do projeto</h3>
            <p>Descrição do projeto</p>
            <button class="mais_info" type="submit">Mais informações</button>
        </div>

        <div class="minha_ideia_2">
            <h3>Título do projeto</h3>
            <p>Descrição do projeto</p>
            <button class="mais_info" type="submit">Mais informações</button>
        </div>

        <div class="minha_ideia_3">
            <h3>Título do projeto</h3>
            <p>Descrição do projeto</p>
            <button class="mais_info" type="submit">Mais informações</button>
        </div>

        <div class="minha_ideia_4">
            <h3>Título do projeto</h3>
            <p>Descrição do projeto</p>
            <button class="mais_info" type="submit">Mais informações</button>
        </div>

    </div>

    <div class="ideia_interesse">
        <h2>Ideias de interessse</h2>
        
        <div class="inte_ideia_1">
            <h3>Título da ideia do projeto</h3>
            <p>Descrição do projeto</p>
            <button class="mais_info" type="submit">Mais informações</button>
        </div>

        <div class="inte_ideia_2">
            <h3>Título da ideia do projeto</h3>
            <p>Descrição do projeto</p>
            <button class="mais_info" type="submit">Mais informações</button>
        </div>

        <div class="inte_ideia_3">
            <h3>Título da ideia do projeto</h3>
            <p>Descrição do projeto</p>
            <button class="mais_info" type="submit">Mais informações</button>
        </div>

        <div class="inte_ideia_4">
            <h3>Título da ideia do projeto</h3>
            <p>Descrição do projeto</p>
            <button class="mais_info" type="submit">Mais informações</button>
        </div>
    </div>
</div>
