@import './_colors.scss';
header {
    background-color: #fff;
    position: absolute;
    width: 100vw;
    height: 9vh;
    left: 0px;
    top: 0px;
    border-bottom: 5px solid $main-color;
}

#logo-background {
    background-color: $main-color;
    position: absolute;
    display: flex;
    align-items: center;
    width: 9vh;
    height: 9.5vh;
    left: 0px;
    top: 0px;
}

#logo {
    display: block;
    margin: auto;
}

#home-menu {
    position: absolute;
    left: 7%;
    color: $main-color;
    top: 2.25vh
}

#idea-menu {
    position: absolute;
    left: 12%;
    color: $main-color;
    top: 2.25vh
}

#logout {
    position: absolute;
    top: 2.25vh;
    right: 2.25vh;
    color: gray;
}
